/* Typo */

@font-face
{
    font-family: 'Comfortaa Bold' ;
    src: url('comfortaa/Comfortaa-Bold.ttf') format('truetype') ;
}

@font-face
{
    font-family: 'Comfortaa Light' ;
    src: url('comfortaa/Comfortaa-Light.ttf') format('truetype') ;
}

@font-face
{
    font-family: 'Comfortaa Regular' ;
    src: url('comfortaa/Comfortaa-Regular.ttf') format('truetype') ;
}

/* base */

*
{
    color: rgb(86, 73, 68) ;
}


body
{
    margin: 0%
}


/* EN TETE */

.bandeau
{
    display: flex ;
    align-items: center;
    justify-content: space-between ;
    margin-right: 2% ;
    margin-left: 6% ;
}

.logo
{
    display: flex ;
}

.google
{
    display: flex ;
    flex-direction: column ;
    font-family: 'Comfortaa Regular' ;
    margin-right: 5% ;
}


/* CALCULATRICE */

.dispositioncal
{
    display : flex ;
    justify-content: center ;
    width: 100vw;
    
}

.calculatrice
{
    border-radius: 59px ;
    background-color: rgb(222, 219, 219, 0.6) ; 
    background-image: url(image/pistache.png)  ;
    background-repeat: no-repeat ;  
    background-position: bottom left 20% ;
    padding: 2% ;
    width: 85vw;
}



/* 3 questions */


.estimation
{
    display: flex ;
    flex-direction: row ;
    justify-content: space-around ; 
    font-family: 'Comfortaa Regular' ;
    padding-left: 0% ; 
    margin: 0% ;
    font-size: 1.1em;
}

.valide
{
    display: flex ;
    justify-content: flex-end ;
    flex-direction: row ;
    align-items: center ;
    height: 74px ;
}

.titre
{
    font-family: 'Comfortaa bold' ;
    margin : 1% ;
    font-size: 1.5em ;
}

/* QUESTION 1 */

.li1
{
    display: flex ;
    flex-direction: column ;
    align-items: center ;
}


.indice
{
    display: flex ;
    flex-wrap: wrap ;
    justify-content: center ;
    max-width: 350px ;
    
}

.indice > label
{
    padding: 8px ;
    cursor: pointer;
}

/* QUESTION 2 */


.li2
{
    display: flex ;
    flex-direction: column ;
    align-items: center ;
}

.surface
{
    width: 70% ;
    font-size: 1.1em ;
    display: block;
    margin: 0;
    padding: var(--inputPaddingV) var(--inputPaddingH);
    color: inherit;
    border: none;
    border-radius: 0.4rem;
    transition: box-shadow var(--transitionDuration);
}


@import url('https://fonts.googleapis.com/css?family=Dosis');

:root {
  /* generic */
  --gutterSm: 0.4rem;
  --gutterMd: 0.8rem;
  --gutterLg: 1.6rem;
  --gutterXl: 2.4rem;
  --gutterXx: 7.2rem;
  --colorPrimary400: #8bc081;
  --colorPrimary600: #588b53;
  --colorPrimary800: #335a3d;
  --fontFamily: "Dosis", sans-serif;
  --fontSizeSm: 1.2rem;
  --fontSizeMd: 1.6rem;
  --fontSizeLg: 2.1rem;
  --fontSizeXl: 2.8rem;
  --fontSizeXx: 3.6rem;
  --lineHeightSm: 1.1;
  --lineHeightMd: 1.8;
  --transitionDuration: 300ms;
  --transitionTF: cubic-bezier(0.645, 0.045, 0.355, 1);
  
  /* floated labels */
  --inputPaddingV: var(--gutterMd);
  --inputPaddingH: var(--gutterLg);
  --inputFontSize: var(--fontSizeLg);
  --inputLineHeight: var(--lineHeightMd);
  --labelScaleFactor: 0.8;
  --labelDefaultPosY: 50%;
  --labelTransformedPosY: calc(
    (var(--labelDefaultPosY)) - 
    (var(--inputPaddingV) * var(--labelScaleFactor)) - 
    (var(--inputFontSize) * var(--inputLineHeight))
  );
  --inputTransitionDuration: var(--transitionDuration);
  --inputTransitionTF: var(--transitionTF);
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

.Input {
  position: relative;
  display: flex ;
  justify-content: space-evenly
}


.surface::placeholder {
  color: #B0BEC5;
}

.surface:focus {
  outline: none;
  box-shadow: 0.2rem 0.8rem 1.6rem var(--colorPrimary600);
}

.Input-label {
  /* display: block; */
  width: 300px ;
  position: absolute;
  bottom: 50%;
  left: 1rem;
  color: #fff;
  opacity: 0;
  transform: 
    translate3d(0, var(--labelDefaultPosY), 0)
    scale(1);
  transform-origin: 0 0;
  transition:
    opacity var(--inputTransitionDuration) var(--inputTransitionTF),
    transform var(--inputTransitionDuration) var(--inputTransitionTF),
    visibility 0ms var(--inputTransitionDuration) var(--inputTransitionTF),
    z-index 0ms var(--inputTransitionDuration) var(--inputTransitionTF);
}

.surface:placeholder-shown + .Input-label {
  visibility: hidden;
  z-index: -1;
}

.surface:not(:placeholder-shown) + .Input-label,
.surface:focus:not(:placeholder-shown) + .Input-label {
  visibility: visible;
  z-index: 1;
  opacity: 1;
  transform:
    translate3d(0, var(--labelTransformedPosY), 0)
    scale(var(--labelScaleFactor));
  transition:
    transform var(--inputTransitionDuration),
    visibility 0ms,
    z-index 0ms;
}

span
{
    font-weight: bold ;
}

/* QUESTION 3 */

.li3
{
    display: flex ;
    flex-direction: column ;
    align-items: center ;
    
}

.picto
{
    display: flex ;
    justify-content: center ;
    flex-wrap: wrap ;
    max-width: 300px ;
}

.picto > label
{
    padding: 8px ;
    cursor: pointer;
}



/* resultats */

.dispositionres
{
    display: flex ;
    flex-direction: row ;
}

.resultat
{
    display: flex ;
    flex-direction: column ;
    font-family: 'Comfortaa Light' ; 
    text-align: center ;
    font-size: 1.3em;
    border-radius: 55px ;
    background-color: rgba(255, 255, 255);
    width: 50% ;

}

.euros
{
    font-size: 1.1em ;
}

.kwh
{
    font-size: 1.1em ;
}

#budgetMin
{
    font-size: 1.3em ;
    font-weight: bold ;
}

#budgetMax
{
    font-size: 1.3em ;
    font-weight: bold ;
}

#consoMin
{
    font-size: 1.3em ;
    font-weight: bold ;
}

#consoMax
{
    font-size: 1.3em ;
    font-weight: bold ;
}




.resultat > p
{
    padding : 4% ;
    
}

p#info
{
    padding: 0% ;
}

.action
{
    display: flex ;
    align-items: flex-end;
    justify-content: space-around ;
    width: 30% ;
    margin-left: 10%
}

  

/* reinitialiser */
.refaire
{
    cursor: pointer;
}

/* deuxieme partie */

.disposition
{
    display: flex ;
    justify-content: space-evenly ;
    margin-top: 2% ;
    width: 100vw;
}

.astuce 
{
    margin-left: 8em;
}

.dpe
{
    display: flex ;
    flex-direction: column ; 
    align-items: center ;
    font-family: 'Comfortaa Light' ;
    width: 50% ;
}



.zoom
{
    font-weight: bold ;
    font-size: 1.5em;
}



.para
{
    font-size: 1.3em ;
    text-align: justify ;
    width: 70%;
}
